/* HEADER */
.headerHome{
    width: 100%;
    height: 100vh;
}
.headerHome__coverImg{
    width: 100%;
    height: 100%;
    background-image: url("../img/dobsin-wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
}
.headerHome__cover{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000ba;
    color: white;
    row-gap: 38px;
}
.headerHome__title{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: -3px;
}
.headerHome__btnBx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.headerHome__btnBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
}
.headerHome__btn{
    color: white;
    border: 2px solid var(--bg-light-brown);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 14px;
    background-color: #8c55351f;
    transition: background-color 225ms ease-in-out;
}
.headerHome__btn:hover{
    background-color: var(--bg-light-brown);
}


/* NEWS */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 14px 46px 14px;
    background: linear-gradient(180deg, var(--text-light-white), white);
}
.news__title{
    font-size: 30px;
    color: var(--bg-dark-brown);
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 30px;
}
.news__title::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bg-dark-brown);
    pointer-events: none;
}
.news__container{
    display: grid;
    row-gap: 32px;
}
.news__bx{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    padding: 12px 16px;
}
.news__subtitle{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-right: 48px;
    margin-bottom: 6px;
}
.news__text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    margin-bottom: 14px;
}
.news__bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.news__bottomBx{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news__bottomIcon{
    display: none;
}
.news__more{
    position: relative;
    font-weight: 500;
    font-size: 16px;
}
.news__more::before{
    content: '';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 75%;
    background-color: var(--bg-dark-brown);
    pointer-events: none;
    transition: height 200ms ease-in-out;
}
.news__more:hover::before{
    height: 15%;
}
.news__all{
    position: relative;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-top: 36px;
    transition: color 200ms ease-in-out;
}
.news__all::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 20%;
    height: 2px;
    background-color: var(--bg-dark-brown);
    pointer-events: none;
    transition: width 225ms ease-in-out;
}
.news__all:hover{
    color: var(--bg-dark-brown);
}
.news__all:hover::before{
    width: 70%;
}


/* MANAGE */
.manage{
    background-color: #59331d08;
    padding-block: 60px 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manage__container{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 22px;
}
.manage__bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    row-gap: 12px;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}
.manage__bx::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    border: 1px dashed var(--bg-dark-brown);
}
.manage__bx:last-of-type::before{
    display: none;
}

.manage__icon{
    width: 46px;
    transition: transform 225ms ease-in-out;
}
.manage__bx:hover .manage__icon{
    transform: scale(1.1) rotate(4deg);
}
.manage__name{
    font-size: 17px;
    font-weight: 500;
}

/* JUST FOR DEVELOPMENT */
/* .manage__bx:nth-of-type(2)::before,
.manage__bx:nth-of-type(2)::after,
.manage__bx:nth-of-type(3)::before,
.manage__bx:nth-of-type(3)::after{
    width: 100%;
    height: 100%;
    border-color: var(--bg-light-brown);
    transition: width 250ms ease-in-out, height 250ms ease-in-out;
}
.manage__bx:nth-of-type(2) .manage__icon,
.manage__bx:nth-of-type(3) .manage__icon{
    transform: scale(1.1) rotate(4deg);
} */
/* END */



/* STATUS */
.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 54px 30px 60px 30px;
}
.status__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    row-gap: 10px;
}
.status__weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 22px;
}
.status__bx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
}
.status__icon{
    width: 58px;
}
.status__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 4px;
}
.status__subtitle{
    font-size: 22px;
    font-weight: 500;
}
.status__info{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.status__el{
    display: flex;
}
.status__elImg{
    width: 100%;
    max-width: 250px;
}




/* HOME PAGE BREAKPOINTS */
@media only screen and (min-width: 33.5em){
    /* HEADER */
    .headerHome__cover{
        row-gap: 42px;
    }
    .headerHome__title{
        font-size: 36px;
    }
    .headerHome__btnBx{
        row-gap: 20px;
    }
    .headerHome__btn{
        font-size: 19px;
        padding: 14px 20px;
    }


    /* NEWS */
    .news{
        padding: 46px 34px 50px 34px;
    }
    .news__title{
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 34px;
    }
    .news__container{
        row-gap: 36px;
    }
    .news__bx{
        padding: 18px 26px;
    }
    .news__subtitle{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .news__text{
        margin-bottom: 18px;
    }
    .news__bottomBx{
        column-gap: 10px;
    }
    .news__bottomIcon{
        display: block;
        width: 28px;
    }
    .news__more{
        font-size: 17px;
    }
    .news__all{
        font-size: 20px;
        margin-top: 42px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 66px 60px;
    }
    .manage__container{
        width: max-content;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 28px;
    }
    .manage__bx{
        row-gap: 16px;
        padding: 18px 24px 12px 24px;
    }
    .manage__bx::before{
        bottom: -17px;
    }
    .manage__bx:nth-last-of-type(2)::before{
        display: none;
    }
    .manage__icon{
        width: 48px;
    }
    .manage__name{
        font-size: 18px;
        font-weight: 400;
    }


    /* STATUS */
    .status{
        padding: 0;
        padding-block: 56px 62px;
    }
    .status__bx{
        column-gap: 20px;
    }
    .status__icon{
        width: 60px;
    }
    .status__elImg{
        max-width: 270px;
    }
}

@media only screen and (min-width: 47.5em){
    /* HEADER */
    .headerHome__title{
        font-size: 44px;
    }
    .headerHome__btnBx{
        flex-direction: row;
        row-gap: 0;
        column-gap: 20px;
    }
    .headerHome__btn{
        font-size: 20px;
        padding: 18px 26px;
    }


    /* NEWS */
    .news{
        padding: 50px 64px 54px 64px;
    }
    .news__title{
        font-size: 33px;
        padding-bottom: 24px;
        margin-bottom: 38px;
    }
    .news__container{
        row-gap: 38px;
    }
    .news__bx{
        padding: 20px 34px;
    }
    .news__subtitle{
        font-size: 24px;
    }
    .news__bottomBx{
        column-gap: 12px;
    }
    .news__bottomIcon{
        width: 30px;
    }
    .news__more{
        font-size: 18px;
    }
    .news__all{
        font-size: 21px;
        margin-top: 44px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 72px;
    }
    .manage__container{
        gap: 32px 38px;
    }
    .manage__bx{
        row-gap: 17px;
        padding: 20px 28px 14px 28px;
    }
    .manage__bx::before{
        bottom: -21px;
    }
    .manage__icon{
        width: 50px;
    }
    .manage__name{
        font-size: 19px;
    }


    /* STATUS */
    .status{
        padding-block: 68px 70px;
    }
    .status__container{
        row-gap: 22px;
        margin-top: 26px;
    }
    .status__weather{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 46px 48px;
    }
    .status__bx:last-of-type{
        grid-column: 1/3;
    }
    .status__icon{
        width: 64px;
    }
    .status__text{
        row-gap: 6px;
    }
    .status__subtitle{
        font-size: 23px;
    }
    .status__info{
        font-size: 19px;
    }
    .status__elImg{
        max-width: 285px;
    }
}

@media only screen and (min-width: 57.5em){
    /* HEADER */
    .headerHome__title{
        font-size: 46px;
    }
    .headerHome__btnBx{
        column-gap: 24px;
    }
    .headerHome__btn{
        padding: 18px 28px;
    }


    /* NEWS */
    .news{
        padding: 50px 82px 54px 82px;
    }
    .news__bx{
        padding: 21px 68px 21px 44px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 82px 86px;
    }
    .manage__container{
        grid-template-columns: repeat(6, 1fr);
        gap: 24px 34px;
    }
    .manage__bx{
        grid-column: span 2;
    }
    .manage__bx:last-of-type {
        grid-column-end: -2;
    }
    .manage__bx:nth-last-child(2) {
        grid-column-end: 4;
    }

    /* .manage__bx:not(:last-of-type)::before{
        display: block;

    } */
    .manage__bx::before{
        transform: unset;
        border: none;
        bottom: unset;
    }
    .manage__bx:last-of-type::before,
    .manage__bx:nth-last-of-type(2)::before{
        display: block;
    }
    .manage__bx::before,
    .manage__bx::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        display: block;
        border-radius: inherit;
        pointer-events: none;
        transition: width 250ms ease-in-out, height 250ms ease-in-out, border-color 1ms linear 250ms;
    }
    .manage__bx::before{
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        left: 0;
        top: 0;
    }
    .manage__bx::after{
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        right: 0;
        bottom: 0;
    }
    .manage__bx:hover::before,
    .manage__bx:hover::after{
        width: 100%;
        height: 100%;
        border-color: var(--bg-light-brown);
        transition: width 250ms ease-in-out, height 250ms ease-in-out;
    }


    /* STATUS */
    .status{
        padding-block: 74px 82px;
    }
    .status__container{
        row-gap: 30px;
        margin-top: 16px;
    }
    .status__weather{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0;
        column-gap: 62px;
    }
    .status__bx:last-of-type{
        grid-column: unset;
    }
    .status__icon{
        width: 66px;
    }
    .status__elImg{
        max-width: 300px;
    }
}

@media only screen and (min-width: 62.0625em){
    /* HEADER */
    .headerHome__cover{
        row-gap: 46px;
    }
    .headerHome__btn{
        font-size: 21px;
    }


    /* NEWS */
    .news{
        padding: 52px 96px 58px 96px;
    }
    .news__title{
        font-size: 34px;
        padding-bottom: 26px;
        margin-bottom: 42px;
    }
    .news__bx{
        padding: 24px 72px 25px 52px;
    }
    .news__subtitle{
        font-size: 25px;
        margin-bottom: 14px;
    }
    .news__text{
        margin-bottom: 26px;
    }
    .news__bottomBx{
        column-gap: 14px;
    }
    .news__bottomIcon{
        width: 32px;
    }
    .news__all{
        margin-top: 46px;
    }


    /* MANAGE */
    .manage{
        padding-block: 88px 92px;
    }
    .manage__bx{
        row-gap: 19px;
        padding: 23px 31px 15px 31px;
    }
    .manage__icon{
        width: 52px;
    }


    /* STATUS */
    .status{
        padding-block: 80px 88px;
    }
    .status__container{
        margin-top: 8px;
    }
    .status__icon{
        width: 68px;
    }
    .status__text{
        row-gap: 7px;
    }
    .status__subtitle{
        font-size: 24px;
    }
    .status__info{
        font-size: 20px;
    }
}

@media only screen and (min-width: 69em){
    /* NEWS */
    .news{
        padding: 52px 46px 58px 46px;
    }
    .news__title{
        padding-bottom: 24px;
        margin-bottom: 48px;
    }
    .news__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 46px 38px;
    }
    .news__bx{
        padding: 26px 24px 27px 30px;
    }
    .news__bottom{
        margin-top: auto;
    }


    /* MANAGE */
    .manage{
        padding-block: 90px 100px;
    }
    .manage__container{
        grid-template-columns: repeat(4, 1fr);
        gap: 26px 28px;
    }
    .manage__bx{
        grid-column: unset;
        grid-column-end: unset !important;
        row-gap: 22px;
        padding: 26px 36px 16px 36px;
    }
    .manage__icon{
        width: 54px;
    }
    .manage__name{
        font-size: 20px;
    }
}

@media only screen and (min-width: 76em){
    /* HEADER */
    .headerHome__title{
        font-size: 48px;
    }


    /* NEWS */
    .news{
        padding: 56px 66px 66px 66px;
    }
    .news__container{
        gap: 50px 42px;
    }
    .news__bx{
        padding: 26px 34px 27px 36px;
    }


    /* STATUS */
    .status__container{
        margin-top: 12px;
    }
    .status__weather{
        column-gap: 72px;
    }
    .status__icon{
        width: 70px;
    }
    .status__elImg{
        max-width: 330px;
    }
}

@media only screen and (min-width: 87.5em){
    /* HEADER */
    .headerHome__title{
        font-size: 50px;
    }
    .headerHome__btnBx{
        column-gap: 32px;
    }
    .headerHome__btn{
        font-size: 22px;
        padding: 19px 32px;
    }


    /* NEWS */
    .news{
        font-size: 19px;
        padding: 68px 88px 72px 88px;
    }
    .news__title{
        padding-bottom: 28px;
        margin-bottom: 58px;
        font-size: 35px;
    }
    .news__container{
        gap: 54px 64px;
    }
    .news__bx{
        padding: 31px 64px 32px 50px;
    }
    .news__subtitle{
        font-size: 26px;
        margin-bottom: 16px;
    }
    .news__text{
        margin-bottom: 30px;
    }
    .news__all{
        font-size: 22px;
        margin-top: 54px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 96px 106px;
    }
    .manage__container{
        gap: 32px 28px;
    }
    .manage__bx{
        row-gap: 24px;
        padding: 29px 42px 19px 42px;
    }
    .manage__icon{
        width: 56px;
    }


    /* STATUS */
    .status{
        padding-block: 88px 100px;
    }
    .status__container{
        flex-direction: row;
        row-gap: 0;
        column-gap: 156px;
        align-items: flex-end;
        margin-top: -24px;
    }
    .status__weather{
        display: flex;
        column-gap: 0;
        row-gap: 36px;
    }
}

@media only screen and (min-width: 102em){
    /* HEADER */
    .headerHome__cover{
        row-gap: 52px;
    }
    .headerHome__title{
        font-size: 54px;
    }
    .headerHome__btn{
        padding: 20px 34px;
    }


    /* NEWS */
    .news{
        padding: 90px 138px 90px 138px;
    }
    .news__title{
        padding-bottom: 30px;
        margin-bottom: 66px;
        font-size: 37px;
    }
    .news__container{
        gap: 58px 72px;
    }
    .news__bx{
        padding: 38px 84px 40px 62px;
    }
    .news__subtitle{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .news__bottomBx{
        column-gap: 15px;
    }
    .news__text{
        margin-bottom: 38px;
    }
    .news__all{
        font-size: 23px;
        margin-top: 74px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 116px 128px;
    }
    .manage__container{
        gap: 38px;
    }
    .manage__bx{
        row-gap: 26px;
        padding: 32px 52px 22px 52px;
    }
    .manage__icon{
        width: 58px;
    }
    .manage__name{
        font-size: 21px;
    }


    /* STATUS */
    .status{
        padding-block: 94px 110px;
    }
    .status__bx{
        column-gap: 22px;
    }
    .status__icon{
        width: 74px;
    }
    .status__text{
        row-gap: 8px;
    }
    .status__subtitle{
        font-size: 26px;
    }
    .status__info{
        font-size: 21px;
    }
    .status__elImg{
        max-width: 340px;
    }
}