@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --bg-light-brown: #8C5535;
    --bg-dark-brown: #59331D;
    --text-light-white: #fbf9f2;
}

body{
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;

    /* Just for footer development */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
	box-sizing: border-box;
}
*,::after,::before{
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body.noScroll{
    overflow: hidden;
}


@media only screen and (max-width: 37.5em){
    .mobileHidden{
        display: none !important;
    }
}

@media only screen and (min-width: 37.5625em) and (max-width: 62em){
    .tabletHidden{
        display: none !important;
    }
}

@media only screen and (max-width: 62em){
    .mobileTabletHidden{
        display: none !important;
    }
}

@media only screen and (min-width: 62.0625em){
    .desktopHidden{
        display: none !important;
    }
}

@media only screen and (min-width: 37.5625em){
    .tabletDesktopHidden{
        display: none !important;
    }
}


/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #dddddd;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #9d7e6d;
    border-radius: 12px;
    border: 2px solid #dddddd;
}


/* Mobile Nav */
.nav{
    padding: 32px 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    position: absolute;
    width: 100%;
}
.nav__logoBx{
    display: flex;
}
.nav__logo{
    width: 60px;
}
.nav__links{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 88px);
    background-color: var(--bg-light-brown);
    padding-block: 24px;
    border-radius: 12px;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
}
.nav__link{
    color: var(--text-light-white);
}
.nav__link.navActiveLink{
    position: relative;
    cursor: default;
    pointer-events: none;
}
.nav__link.navActiveLink::before,
.nav__link.navActiveLink::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}
.nav__link.navActiveLink::before{
    left: -8px;
}
.nav__link.navActiveLink::after{
    right: -8px;
}

.nav__toggleBx{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
    align-items: flex-end;
}
.nav__toggle{
    display: block;
    height: 2px;
    background-color: var(--bg-dark-brown);
    transform-origin: 7px 1px;
    transition: transform 225ms ease-in-out, opacity 185ms ease-in-out, width 200ms ease-in-out;
}
.nav__toggle:first-of-type{
    width: 40px;
}
.nav__toggle:nth-of-type(2){
    width: 48px;
}
.nav__toggle:last-of-type{
    width: 33px;
}

.nav.navActive .nav__toggleBx .nav__toggle:first-of-type{
    width: 42px;
    transform: rotate(45deg);
}
.nav.navActive .nav__toggleBx .nav__toggle:nth-of-type(2){
    width: 42px;
    opacity: 0;
}
.nav.navActive .nav__toggleBx .nav__toggle:last-of-type{
    width: 42px;
    transform: rotate(-45deg);
}


@keyframes fadeIn {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (min-width: 33.5em){
    body{
        font-size: 17px;
    }
    .nav{
        padding: 50px 66px 38px 66px;
    }
    .nav__logo{
        width: 68px;
    }
    .nav__links{
        width: calc(100% - 132px);
    }
    .nav__toggleBx{
        row-gap: 9px;
    }
    .nav__toggle{
        transform-origin: 8px 1px;
    }

    .nav__toggle:first-of-type{
        width: 42px;
    }
    .nav__toggle:nth-of-type(2){
        width: 50px;
    }
    .nav__toggle:last-of-type{
        width: 35px;
    }
    
    .nav.navActive .nav__toggleBx .nav__toggle:first-of-type{
        width: 44px;
        transform: rotate(45deg);
    }
    .nav.navActive .nav__toggleBx .nav__toggle:nth-of-type(2){
        width: 44px;
        opacity: 0;
    }
    .nav.navActive .nav__toggleBx .nav__toggle:last-of-type{
        width: 44px;
        transform: rotate(-45deg);
    }
}

@media only screen and (min-width: 47.5em){
    body{
        font-size: 18px;
    }
    .nav{
        padding: 52px 94px 40px 94px;
    }
    .nav__links{
        width: calc(100% - 188px);
        row-gap: 22px;
    }
    .nav__link.navActiveLink::before,
    .nav__link.navActiveLink::after{
        width: 2px;
    }
    .nav__link.navActiveLink::before{
        left: -10px;
    }
    .nav__link.navActiveLink::after{
        right: -10px;
    }
    .nav__logo{
        width: 72px;
    }
}

@media only screen and (min-width: 57.5em){
    .nav{
        padding: 52px 122px 40px 122px;
    }
    .nav__links{
        width: calc(100% - 244px);
    }
}

/* Desktop nav */
@media only screen and (min-width: 62.0625em){
    .nav{
        padding: 46px 90px;
    }
    .nav__logo{
        transition: transform 200ms ease-in-out;
    }
    .nav__logo:hover{
        transform: rotate(4deg) scale(1.08);
    }
    .nav__links{
        position: relative;
        width: auto;
        left: 0;
        transform: translateX(0);
        top: 0;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        row-gap: 0;
        visibility: visible !important;
        opacity: 1 !important;

        flex-direction: row;
        column-gap: 36px;
    }
    .nav__link{
        color: var(--bg-dark-brown);
        position: relative;
    }
    .nav__link.navActiveLink::after{
        content: none;
    }
    .nav__link.navActiveLink::before{
        background-color: #8c5535;
        width: 50%;
        height: 2px;
        bottom: -10px;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .nav__link:not(.navActiveLink)::before{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        width: 0%;
        height: 2px;
        background-color: var(--bg-light-brown);
        pointer-events: none;
        transition: width 200ms ease-in-out;
    }
    .nav__link:hover:not(.navActiveLink)::before{
        width: 86%;
    }
}

@media only screen and (min-width: 76em){
    body{
        font-size: 19px;
    }
    .nav{
        padding: 52px 124px;
    }
    .nav__links{
        column-gap: 40px;
    }
    .nav__logo{
        width: 80px;
    }
}

@media only screen and (min-width: 87.5em){
    body{
        font-size: 20px;
    }
    .nav{
        padding: 52px 148px;
    }
    .nav__links{
        column-gap: 46px;
    }
    .nav__logo{
        width: 86px;
    }
}

@media only screen and (min-width: 102em){
    .nav{
        padding: 62px 158px 62px 132px;
    }
}


/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-dark-brown);
    color: var(--text-light-white);
    padding-block: 40px;

    /* Footer development only */
    margin-top: auto;
}
.footer a{
    color: var(--text-light-white);
}
.footer__container{
    display: grid;
    row-gap: 26px;
}
.footer__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}
.footer__linkBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}
.footer__link{
    opacity: 0.8;
    position: relative;
    transition: opacity 175ms ease-in-out;
}
.footer__link::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 65%;
    background-color: var(--text-light-white);
    pointer-events: none;
    transition: height 200ms ease-in-out;
}
.footer__link.footerLinkRight::before{
    left: auto;
    right: -8px;
}
.footer__link:hover{
    opacity: 1;
}
.footer__link:hover::before{
    height: 0;
}
.footer__createdBy{
    margin-top: 28px;
}

@media only screen and (min-width: 33.5em){
    .footer__title{
        font-size: 23px;
        margin-bottom: 16px;
    }
    .footer__linkBx{
        row-gap: 10px;
    }
}

@media only screen and (min-width: 43.5em){
    .footer{
        padding-block: 58px 50px;
    }
    .footer__container{
        row-gap: 32px;
    }
    .footer__title{
        font-size: 28px;
        margin-bottom: 18px;
    }
    .footer__linkBx{
        row-gap: 11px;
    }
    .footer__createdBy{
        margin-top: 32px;
    }
}

@media only screen and (min-width: 50em){
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 70px;
    }
    .footer__bx:last-of-type{
        grid-column: 3/1;
    }
    .footer__linkBx{
        row-gap: 12px;
    }
    .footer__createdBy{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 62.0625em){
    .footer__container{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 44px 40px;
    }
    .footer__bx:last-of-type{
        grid-column: 5/1;
    }
    .footer__createdBy{
        margin-top: 26px;
    }
}

@media only screen and (min-width: 76em){
    .footer{
        padding-block: 74px 52px;
    }
    .footer__container{
        display: flex;
        flex-direction: row;
        row-gap: 0;
        column-gap: 66px;
    }
    .footer__title{
        font-weight: 500;
        margin-bottom: 22px;
    }
    .footer__linkBx{
        align-items: flex-start;
    }
    .footer__bx:last-of-type{
        grid-column: unset;
    }
    .footer__bx:last-of-type .footer__linkBx{
        margin-top: 52px;
    }
    .footer__createdBy{
        margin-top: 44px;
    }
}

@media only screen and (min-width: 102em){
    .footer{
        padding-block: 82px 62px;
    }
    .footer__container{
        column-gap: 88px;
    }
    .footer__title{
        font-size: 30px;
        margin-bottom: 28px;
    }
    .footer__linkBx{
        row-gap: 13px;
    }
    .footer__bx:last-of-type .footer__linkBx{
        margin-top: 70px;
    }
    .footer__createdBy{
        margin-top: 52px;
    }
}



/* HEADER */
.header{
    width: 100%;
    height: 100vh;
}
.header__coverImgBx{
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.426);
}
.header__coverImg{
    width: 100%;
    height: 100%;
    background-image: url("../img/dobsin-wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
}
.header__cover{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000ba;
    color: white;
    row-gap: 38px;
}
.header__title{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: -3px;
}
.header__btnBx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header__btnBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
}
.header__btn{
    color: white;
    border: 2px solid var(--bg-light-brown);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 14px;
    background-color: #8c55351f;
    transition: background-color 225ms ease-in-out;
}
.header__btn:hover{
    background-color: var(--bg-light-brown);
}


/* NEWS */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 14px 46px 14px;
    background: linear-gradient(180deg, var(--text-light-white), white);
}
.news__title{
    font-size: 30px;
    color: var(--bg-dark-brown);
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 30px;
}
.news__title::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bg-dark-brown);
    pointer-events: none;
}
.news__container{
    display: grid;
    row-gap: 32px;
}
.news__bx{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    padding: 12px 16px;
}
.news__subtitle{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-right: 48px;
    margin-bottom: 6px;
}
.news__text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    margin-bottom: 14px;
}
.news__bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.news__bottomBx{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news__bottomIcon{
    display: none;
}
.news__more{
    position: relative;
    font-weight: 500;
    font-size: 16px;
}
.news__more::before{
    content: '';
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 75%;
    background-color: var(--bg-dark-brown);
    pointer-events: none;
    transition: height 200ms ease-in-out;
}
.news__more:hover::before{
    height: 15%;
}
.news__all{
    position: relative;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-top: 36px;
    transition: color 200ms ease-in-out;
}
.news__all::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 20%;
    height: 2px;
    background-color: var(--bg-dark-brown);
    pointer-events: none;
    transition: width 225ms ease-in-out;
}
.news__all:hover{
    color: var(--bg-dark-brown);
}
.news__all:hover::before{
    width: 70%;
}


/* MANAGE */
.manage{
    background-color: #59331d08;
    padding-block: 60px 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manage__title{
    text-align: center;
    color: var(--bg-dark-brown);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 18px;
}
.manage__container{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 22px;
}
.manage__bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    row-gap: 12px;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}
.manage__bx::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    border: 1px dashed var(--bg-dark-brown);
}
.manage__bx:last-of-type::before{
    display: none;
}

.manage__icon{
    width: 46px;
    transition: transform 225ms ease-in-out;
}
.manage__bx:hover .manage__icon{
    transform: scale(1.1) rotate(4deg);
}
.manage__name{
    font-size: 17px;
    font-weight: 500;
}

/* JUST FOR DEVELOPMENT */
/* .manage__bx:nth-of-type(2)::before,
.manage__bx:nth-of-type(2)::after,
.manage__bx:nth-of-type(3)::before,
.manage__bx:nth-of-type(3)::after{
    width: 100%;
    height: 100%;
    border-color: var(--bg-light-brown);
    transition: width 250ms ease-in-out, height 250ms ease-in-out;
}
.manage__bx:nth-of-type(2) .manage__icon,
.manage__bx:nth-of-type(3) .manage__icon{
    transform: scale(1.1) rotate(4deg);
} */
/* END */



/* HOME PAGE BREAKPOINTS */
@media only screen and (min-width: 33.5em){
    /* HEADER */
    .header__cover{
        row-gap: 42px;
    }
    .header__title{
        font-size: 36px;
    }
    .header__btnBx{
        row-gap: 20px;
    }
    .header__btn{
        font-size: 19px;
        padding: 14px 20px;
    }


    /* NEWS */
    .news{
        padding: 46px 34px 50px 34px;
    }
    .news__title{
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 34px;
    }
    .news__container{
        row-gap: 36px;
    }
    .news__bx{
        padding: 18px 26px;
    }
    .news__subtitle{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .news__text{
        margin-bottom: 18px;
    }
    .news__bottomBx{
        column-gap: 10px;
    }
    .news__bottomIcon{
        display: block;
        width: 28px;
    }
    .news__more{
        font-size: 17px;
    }
    .news__all{
        font-size: 20px;
        margin-top: 42px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 66px 60px;
    }
    .manage__title{
        font-size: 34px;
        margin-bottom: 34px;
    }
    .manage__container{
        width: max-content;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 28px;
    }
    .manage__bx{
        row-gap: 16px;
        padding: 18px 24px 12px 24px;
    }
    .manage__bx::before{
        bottom: -17px;
    }
    .manage__bx:nth-last-of-type(2)::before{
        display: none;
    }
    .manage__icon{
        width: 48px;
    }
    .manage__name{
        font-size: 18px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 47.5em){
    /* HEADER */
    .header__title{
        font-size: 44px;
    }
    .header__btnBx{
        flex-direction: row;
        row-gap: 0;
        column-gap: 20px;
    }
    .header__btn{
        font-size: 20px;
        padding: 18px 26px;
    }


    /* NEWS */
    .news{
        padding: 50px 64px 54px 64px;
    }
    .news__title{
        font-size: 33px;
        padding-bottom: 24px;
        margin-bottom: 38px;
    }
    .news__container{
        row-gap: 38px;
    }
    .news__bx{
        padding: 20px 34px;
    }
    .news__subtitle{
        font-size: 24px;
    }
    .news__bottomBx{
        column-gap: 12px;
    }
    .news__bottomIcon{
        width: 30px;
    }
    .news__more{
        font-size: 18px;
    }
    .news__all{
        font-size: 21px;
        margin-top: 44px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 72px;
    }
    .manage__title{
        font-size: 38px;
        margin-bottom: 42px;
    }
    .manage__container{
        gap: 32px 38px;
    }
    .manage__bx{
        row-gap: 17px;
        padding: 20px 28px 14px 28px;
    }
    .manage__bx::before{
        bottom: -21px;
    }
    .manage__icon{
        width: 50px;
    }
    .manage__name{
        font-size: 19px;
    }
}

@media only screen and (min-width: 57.5em){
    /* HEADER */
    .header__title{
        font-size: 46px;
    }
    .header__btnBx{
        column-gap: 24px;
    }
    .header__btn{
        padding: 18px 28px;
    }


    /* NEWS */
    .news{
        padding: 50px 82px 54px 82px;
    }
    .news__bx{
        padding: 21px 68px 21px 44px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 82px 86px;
    }
    .manage__title{
        font-size: 39px;
        margin-bottom: 52px;
    }
    .manage__container{
        grid-template-columns: repeat(6, 1fr);
        gap: 24px 34px;
    }
    .manage__bx{
        grid-column: span 2;
    }
    .manage__bx:last-of-type {
        grid-column-end: -2;
    }
    .manage__bx:nth-last-child(2) {
        grid-column-end: 4;
    }

    /* .manage__bx:not(:last-of-type)::before{
        display: block;

    } */
    .manage__bx::before{
        transform: unset;
        border: none;
        bottom: unset;
    }
    .manage__bx:last-of-type::before,
    .manage__bx:nth-last-of-type(2)::before{
        display: block;
    }
    .manage__bx::before,
    .manage__bx::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        display: block;
        border-radius: inherit;
        pointer-events: none;
        transition: width 250ms ease-in-out, height 250ms ease-in-out, border-color 1ms linear 250ms;
    }
    .manage__bx::before{
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        left: 0;
        top: 0;
    }
    .manage__bx::after{
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        right: 0;
        bottom: 0;
    }
    .manage__bx:hover::before,
    .manage__bx:hover::after{
        width: 100%;
        height: 100%;
        border-color: var(--bg-light-brown);
        transition: width 250ms ease-in-out, height 250ms ease-in-out;
    }
}

@media only screen and (min-width: 62.0625em){
    /* HEADER */
    .header__cover{
        row-gap: 46px;
    }
    .header__btn{
        font-size: 21px;
    }


    /* NEWS */
    .news{
        padding: 52px 96px 58px 96px;
    }
    .news__title{
        font-size: 34px;
        padding-bottom: 26px;
        margin-bottom: 42px;
    }
    .news__bx{
        padding: 24px 72px 25px 52px;
    }
    .news__subtitle{
        font-size: 25px;
        margin-bottom: 14px;
    }
    .news__text{
        margin-bottom: 26px;
    }
    .news__bottomBx{
        column-gap: 14px;
    }
    .news__bottomIcon{
        width: 32px;
    }
    .news__all{
        margin-top: 46px;
    }


    /* MANAGE */
    .manage{
        padding-block: 88px 92px;
    }
    .manage__title{
        font-size: 41px;
        margin-bottom: 56px;
    }
    .manage__bx{
        row-gap: 19px;
        padding: 23px 31px 15px 31px;
    }
    .manage__icon{
        width: 52px;
    }
}

@media only screen and (min-width: 69em){
    /* NEWS */
    .news{
        padding: 52px 46px 58px 46px;
    }
    .news__title{
        padding-bottom: 24px;
        margin-bottom: 48px;
    }
    .news__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 46px 38px;
    }
    .news__bx{
        padding: 26px 24px 27px 30px;
    }
    .news__bottom{
        margin-top: auto;
    }


    /* MANAGE */
    .manage{
        padding-block: 90px 100px;
    }
    .manage__title{
        font-size: 42px;
        margin-bottom: 58px;
    }
    .manage__container{
        grid-template-columns: repeat(4, 1fr);
        gap: 26px 28px;
    }
    .manage__bx{
        grid-column: unset;
        grid-column-end: unset !important;
        row-gap: 22px;
        padding: 26px 36px 16px 36px;
    }
    .manage__icon{
        width: 54px;
    }
    .manage__name{
        font-size: 20px;
    }
}

@media only screen and (min-width: 76em){
    /* HEADER */
    .header__title{
        font-size: 48px;
    }


    /* NEWS */
    .news{
        padding: 56px 66px 66px 66px;
    }
    .news__container{
        gap: 50px 42px;
    }
    .news__bx{
        padding: 26px 34px 27px 36px;
    }
}

@media only screen and (min-width: 87.5em){
    /* HEADER */
    .header__title{
        font-size: 50px;
    }
    .header__btnBx{
        column-gap: 32px;
    }
    .header__btn{
        font-size: 22px;
        padding: 19px 32px;
    }


    /* NEWS */
    .news{
        font-size: 19px;
        padding: 68px 88px 72px 88px;
    }
    .news__title{
        padding-bottom: 28px;
        margin-bottom: 58px;
        font-size: 35px;
    }
    .news__container{
        gap: 54px 64px;
    }
    .news__bx{
        padding: 31px 64px 32px 50px;
    }
    .news__subtitle{
        font-size: 26px;
        margin-bottom: 16px;
    }
    .news__text{
        margin-bottom: 30px;
    }
    .news__all{
        font-size: 22px;
        margin-top: 54px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 96px 106px;
    }
    .manage__title{
        font-size: 43px;
        margin-bottom: 62px;
    }
    .manage__container{
        gap: 32px 28px;
    }
    .manage__bx{
        row-gap: 24px;
        padding: 29px 42px 19px 42px;
    }
    .manage__icon{
        width: 56px;
    }
}

@media only screen and (min-width: 102em){
    /* HEADER */
    .header__cover{
        row-gap: 52px;
    }
    .header__title{
        font-size: 54px;
    }
    .header__btn{
        padding: 20px 34px;
    }


    /* NEWS */
    .news{
        padding: 90px 138px 90px 138px;
    }
    .news__title{
        padding-bottom: 30px;
        margin-bottom: 66px;
        font-size: 37px;
    }
    .news__container{
        gap: 58px 72px;
    }
    .news__bx{
        padding: 38px 84px 40px 62px;
    }
    .news__subtitle{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .news__bottomBx{
        column-gap: 15px;
    }
    .news__text{
        margin-bottom: 38px;
    }
    .news__all{
        font-size: 23px;
        margin-top: 74px;
    }

    
    /* MANAGE */
    .manage{
        padding-block: 116px 128px;
    }
    .manage__title{
        font-size: 46px;
        margin-bottom: 74px;
    }
    .manage__container{
        gap: 38px;
    }
    .manage__bx{
        row-gap: 26px;
        padding: 32px 52px 22px 52px;
    }
    .manage__icon{
        width: 58px;
    }
    .manage__name{
        font-size: 21px;
    }
}