@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --bg-light-brown: #8C5535;
    --bg-dark-brown: #59331D;
    --text-light-white: #fbf9f2;
}

body{
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;

    /* Just for footer development */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
	box-sizing: border-box;
}
*,::after,::before{
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body.noScroll{
    overflow: hidden;
}


@media only screen and (max-width: 37.5em){
    .mobileHidden{
        display: none !important;
    }
}

@media only screen and (min-width: 37.5625em) and (max-width: 62em){
    .tabletHidden{
        display: none !important;
    }
}

@media only screen and (max-width: 62em){
    .mobileTabletHidden{
        display: none !important;
    }
}

@media only screen and (min-width: 62.0625em){
    .desktopHidden{
        display: none !important;
    }
}

@media only screen and (min-width: 37.5625em){
    .tabletDesktopHidden{
        display: none !important;
    }
}


/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #dddddd;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #9d7e6d;
    border-radius: 12px;
    border: 2px solid #dddddd;
}


/* Mobile Nav */
.nav{
    padding: 32px 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    position: absolute;
    width: 100%;
}
.nav__logoBx{
    display: flex;
}
.nav__logo{
    width: 60px;
}
.nav__links{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 88px);
    background-color: var(--bg-light-brown);
    padding-block: 24px;
    border-radius: 12px;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
}
.nav__link{
    color: var(--text-light-white);
}
.nav__link.navActiveLink{
    position: relative;
}
.nav__link.navActiveLink::before,
.nav__link.navActiveLink::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}
.nav__link.navActiveLink::before{
    left: -8px;
}
.nav__link.navActiveLink::after{
    right: -8px;
}

.nav__toggleBx{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
    align-items: flex-end;
}
.nav__toggle{
    display: block;
    height: 2px;
    background-color: var(--bg-dark-brown);
    transform-origin: 7px 1px;
    transition: transform 225ms ease-in-out, opacity 185ms ease-in-out, width 200ms ease-in-out;
}
.nav__toggle:first-of-type{
    width: 40px;
}
.nav__toggle:nth-of-type(2){
    width: 48px;
}
.nav__toggle:last-of-type{
    width: 33px;
}

.nav.navActive .nav__toggleBx .nav__toggle:first-of-type{
    width: 42px;
    transform: rotate(45deg);
}
.nav.navActive .nav__toggleBx .nav__toggle:nth-of-type(2){
    width: 42px;
    opacity: 0;
}
.nav.navActive .nav__toggleBx .nav__toggle:last-of-type{
    width: 42px;
    transform: rotate(-45deg);
}


@keyframes fadeIn {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (min-width: 33.5em){
    body{
        font-size: 17px;
    }
    .nav{
        padding: 50px 66px 38px 66px;
    }
    .nav__logo{
        width: 68px;
    }
    .nav__links{
        width: calc(100% - 132px);
    }
    .nav__toggleBx{
        row-gap: 9px;
    }
    .nav__toggle{
        transform-origin: 8px 1px;
    }

    .nav__toggle:first-of-type{
        width: 42px;
    }
    .nav__toggle:nth-of-type(2){
        width: 50px;
    }
    .nav__toggle:last-of-type{
        width: 35px;
    }
    
    .nav.navActive .nav__toggleBx .nav__toggle:first-of-type{
        width: 44px;
        transform: rotate(45deg);
    }
    .nav.navActive .nav__toggleBx .nav__toggle:nth-of-type(2){
        width: 44px;
        opacity: 0;
    }
    .nav.navActive .nav__toggleBx .nav__toggle:last-of-type{
        width: 44px;
        transform: rotate(-45deg);
    }
}

@media only screen and (min-width: 47.5em){
    body{
        font-size: 18px;
    }
    .nav{
        padding: 52px 94px 40px 94px;
    }
    .nav__links{
        width: calc(100% - 188px);
        row-gap: 22px;
    }
    .nav__link.navActiveLink::before,
    .nav__link.navActiveLink::after{
        width: 2px;
    }
    .nav__link.navActiveLink::before{
        left: -10px;
    }
    .nav__link.navActiveLink::after{
        right: -10px;
    }
    .nav__logo{
        width: 72px;
    }
}

@media only screen and (min-width: 57.5em){
    .nav{
        padding: 52px 122px 40px 122px;
    }
    .nav__links{
        width: calc(100% - 244px);
    }
}

/* Desktop nav */
@media only screen and (min-width: 62.0625em){
    .nav{
        padding: 46px 90px;
    }
    .nav__logo{
        transition: transform 200ms ease-in-out;
    }
    .nav__logo:hover{
        transform: rotate(4deg) scale(1.08);
    }
    .nav__links{
        position: relative;
        width: auto;
        left: 0;
        transform: translateX(0);
        top: 0;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        row-gap: 0;
        visibility: visible !important;
        opacity: 1 !important;

        flex-direction: row;
        column-gap: 36px;
    }
    .nav__link{
        color: var(--bg-dark-brown);
        position: relative;
    }
    .nav__link.navActiveLink::after{
        content: none;
    }
    .nav__link.navActiveLink::before{
        background-color: #8c5535;
        width: 50%;
        height: 2px;
        bottom: -10px;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    .nav__link:not(.navActiveLink)::before{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        width: 0%;
        height: 2px;
        background-color: var(--bg-light-brown);
        pointer-events: none;
        transition: width 200ms ease-in-out;
    }
    .nav__link:hover:not(.navActiveLink)::before{
        width: 86%;
    }
}

@media only screen and (min-width: 76em){
    body{
        font-size: 19px;
    }
    .nav{
        padding: 52px 124px;
    }
    .nav__links{
        column-gap: 40px;
    }
    .nav__logo{
        width: 80px;
    }
}

@media only screen and (min-width: 87.5em){
    body{
        font-size: 20px;
    }
    .nav{
        padding: 52px 148px;
    }
    .nav__links{
        column-gap: 46px;
    }
    .nav__logo{
        width: 86px;
    }
}

@media only screen and (min-width: 102em){
    .nav{
        padding: 62px 158px 62px 132px;
    }
}


/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-dark-brown);
    color: var(--text-light-white);
    padding-block: 40px;

    /* Footer development only */
    margin-top: auto;
}
.footer a{
    color: var(--text-light-white);
}
.footer__container{
    display: grid;
    row-gap: 26px;
}
.footer__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}
.footer__linkBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}
.footer__link{
    opacity: 0.8;
    position: relative;
    transition: opacity 175ms ease-in-out;
}
.footer__link::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 65%;
    background-color: var(--text-light-white);
    pointer-events: none;
    transition: height 200ms ease-in-out;
}
.footer__link.footerLinkRight::before{
    left: auto;
    right: -8px;
}
.footer__link:hover{
    opacity: 1;
}
.footer__link:hover::before{
    height: 0;
}
.footer__createdBy{
    margin-top: 28px;
}

@media only screen and (min-width: 33.5em){
    .footer__title{
        font-size: 23px;
        margin-bottom: 16px;
    }
    .footer__linkBx{
        row-gap: 10px;
    }
}

@media only screen and (min-width: 43.5em){
    .footer{
        padding-block: 58px 50px;
    }
    .footer__container{
        row-gap: 32px;
    }
    .footer__title{
        font-size: 28px;
        margin-bottom: 18px;
    }
    .footer__linkBx{
        row-gap: 11px;
    }
    .footer__createdBy{
        margin-top: 32px;
    }
}

@media only screen and (min-width: 50em){
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 70px;
    }
    .footer__bx:last-of-type{
        grid-column: 3/1;
    }
    .footer__linkBx{
        row-gap: 12px;
    }
    .footer__createdBy{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 62.0625em){
    .footer__container{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 44px 40px;
    }
    .footer__bx:last-of-type{
        grid-column: 5/1;
    }
    .footer__createdBy{
        margin-top: 26px;
    }
}

@media only screen and (min-width: 76em){
    .footer{
        padding-block: 74px 52px;
    }
    .footer__container{
        display: flex;
        flex-direction: row;
        row-gap: 0;
        column-gap: 66px;
    }
    .footer__title{
        font-weight: 500;
        margin-bottom: 22px;
    }
    .footer__linkBx{
        align-items: flex-start;
    }
    .footer__bx:last-of-type{
        grid-column: unset;
    }
    .footer__bx:last-of-type .footer__linkBx{
        margin-top: 52px;
    }
    .footer__createdBy{
        margin-top: 44px;
    }
}

@media only screen and (min-width: 102em){
    .footer{
        padding-block: 82px 62px;
    }
    .footer__container{
        column-gap: 88px;
    }
    .footer__title{
        font-size: 30px;
        margin-bottom: 28px;
    }
    .footer__linkBx{
        row-gap: 13px;
    }
    .footer__bx:last-of-type .footer__linkBx{
        margin-top: 70px;
    }
    .footer__createdBy{
        margin-top: 52px;
    }
}



/* HEADER */
.header{
    width: 100%;
    height: 100vh;
}
.header__coverImgBx{
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.426);
}
.header__coverImg{
    width: 100%;
    height: 100%;
    background-image: url("../img/dobsin-wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
}
.header__cover{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000ba;
    color: white;
    row-gap: 38px;
}
.header__title{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: -3px;
}
.header__btnBx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header__btnBx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
}
.header__btn{
    color: white;
    border: 2px solid var(--bg-light-brown);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 14px;
    background-color: #8c55351f;
    transition: background-color 225ms ease-in-out;
}
.header__btn:hover{
    background-color: var(--bg-light-brown);
}


@media only screen and (min-width: 33.5em){
    .header__cover{
        row-gap: 42px;
    }
    .header__title{
        font-size: 36px;
    }
    .header__btnBx{
        row-gap: 20px;
    }
    .header__btn{
        font-size: 19px;
        padding: 14px 20px;
    }
}

@media only screen and (min-width: 47.5em){
    .header__title{
        font-size: 44px;
    }
    .header__btnBx{
        flex-direction: row;
        row-gap: 0;
        column-gap: 20px;
    }
    .header__btn{
        font-size: 20px;
        padding: 18px 26px;
    }
}

@media only screen and (min-width: 57.5em){
    .header__title{
        font-size: 46px;
    }
    .header__btnBx{
        column-gap: 24px;
    }
    .header__btn{
        padding: 18px 28px;
    }
}

@media only screen and (min-width: 62.0625em){
    .header__cover{
        row-gap: 46px;
    }
    .header__btn{
        font-size: 21px;
    }
}

@media only screen and (min-width: 76em){
    .header__title{
        font-size: 48px;
    }
}

@media only screen and (min-width: 87.5em){
    .header__title{
        font-size: 50px;
    }
    .header__btnBx{
        column-gap: 32px;
    }
    .header__btn{
        font-size: 22px;
        padding: 19px 32px;
    }
}

@media only screen and (min-width: 102em){
    .header__cover{
        row-gap: 52px;
    }
    .header__title{
        font-size: 54px;
    }
    .header__btn{
        padding: 20px 34px;
    }
}